server:
   servlet:
      port: 8081
      context-path: /
spring:
   mvc:
      locale: zh_CN
      locale-resolver: fixed
   fabric:
      chaincode:
         identify: mycc
         name: Common Chaincode
         version: 1.0
      channel: mychannel
      peers: 2
      organizations:
      - Org1
      - Org2
      name: Common Fabric Network
      gateway:
         commit-timeout: 30
         wallet:
            identity: admin
      network:
         file: network/.bak/connection-org1.yml
         name: example-fabric
# Fabric explorer
      explorer:
         title: Fabric Explorer
#         logo: img/logo.png
         copyright: Ecsoya (jin.liu@soyatec.com)
         hyperledger-explorer-url: http://www.hyperleder.org
         path: /explorer